<h1>Sección 1</h1>
<div class="container">
  <mat-list>
    <div class="container">
      <mat-list-item> Nombre </mat-list-item>
      <mat-list-item> Edad </mat-list-item>
      <mat-list-item> Descripción </mat-list-item>
    </div>
    <div *ngFor="let user of users" class="container">
      <mat-list-item> {{ user.name }} </mat-list-item>
      <mat-list-item> {{ user.age }} </mat-list-item>
      <mat-list-item> {{ user.description }} </mat-list-item>
    </div>
  </mat-list>

  <app-register></app-register>
</div>
